@import "../../colors.scss";
.game__button_click {
  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: $gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: all .3s ease-in-out 0s;
  cursor: pointer;
  &.active {
    width: 100px;
    height:  100px;
    border-radius: 50%;
  }
}
.game__text_button {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.repeat__img {
  width: 50px;
}
