@import "../../colors.scss";
.main__element {
  background: $main-grad;
  width: 280px;
  height: 280px;
  border-radius: 10px;
  box-shadow: $shadow-main;
  color: $blue;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out 0s;
  &:hover {
    transform: scale(0.9);
  }
}
.main__element-active {
  background: $main-grad-a;
}
.main__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__text {
  margin-top: 20px;
}
.main__img {
  width: 200px;
  border-radius: 20px;
  border: 2px solid $white;
}
@media screen and (max-width: 615px) {
  .main__elements {
    flex-direction: column;
    align-items: center;
  }
}
